manulecustomization/
/Java/java-labs/Socketprograming/SocketProgramming/nbproject/private/
/Java/java-labs/Socketprograming/ChattingClient/nbproject/private/
/Java/java-labs/Socketprograming/ChattingClient-Preloader/nbproject/private/
/Java/java-labs/FirstServer/nbproject/private/
/Java/java-labs/dfsf/nbproject/private/
/Java/java-labs/FirstServer/build/
/Java/java-labs/FirstCilient/nbproject/private/
/Java/java-labs/FirstCilient/build/
/Java/java-labs/FirstServer/dist/
/Java/java-labs/FirstCilient/dist/
/Java/java-labs/ChattingClient/nbproject/private/
/Java/java-labs/ClientChat/nbproject/private/
/Java/java-labs/ClientApp/nbproject/private/
/Java/java-labs/ChattingServer/nbproject/private/
/Java/java-labs/ChattingServer/build/
/Java/java-labs/ChattingServer/dist/
/Java/java-labs/ClientApp/build/
/Java/java-labs/ClientApp/dist/
/Java/java-labs/JavaFX_HelloWorld/nbproject/private/
/Java/java-labs/JavaFX_HelloWorld/build/
/Java/java-labs/JavaFX_HelloWorld/dist/
/Java/java-labs/NotePad--/nbproject/private/
/Java/java-labs/NotePad--/build/
/Java/java-labs/ContactList/nbproject/private/
/Java/java-labs/ContactList/build/
/Java/java-labs/ContactList/dist/
/Java/java-labs/NotePad--/dist/